<section class="<%= data.prefix %>-m-profile">

  <h1><%= data.name %></h1>

  <h2><%= data.jobTitle %></h2>

  <p class="description">
    <%- data.description %>
  </p>

  <ul class="svg-container">
    <li>
      <svg role="img" class="icon-same-size"><use xlink:href="#icon-html"/></svg>
    </li>

    <li>
      <svg role="img" class="icon-same-size"><use xlink:href="#icon-css"/></svg>
    </li>

    <li>
      <svg role="img"><use xlink:href="#icon-js"/></svg>
    </li>

    <li>
      <svg role="img"><use xlink:href="#icon-angular"/></svg>
    </li>

    <li>
      <svg role="img"><use xlink:href="#icon-ionic"/></svg>
    </li>

    <li class="col item-and-more">
      <span>and more...</span>
    </li>
  </ul>

  <footer class="social-footer">

    <strong>Find me:</strong>

    <ul class="social-list">
      <li>
        <a href="<%= data.social.linkedin %>" target="_blank">
          <svg role="img"><use xlink:href="#icon-linkedin"/></svg>
        </a>
      </li>

      <li>
        <a href="<%= data.social.mail %>" target="_blank">
          <svg role="img"><use xlink:href="#icon-mail"/></svg>
        </a>
      </li>
    </ul>

  </footer>

</section>
